body{
    margin:0;
    padding:0;
}

.content {
    display: none;
}
header {
    background-image: linear-gradient(to right, #1B1464, #662D91);
    background-color: none;
    padding: 40px 0 60px;
}

.mk {
    position:relative;
    top:-50px;
    left:10%;
    width: 9%;
    border-radius: 100%;
    box-shadow: 5px 9px 10px #070829;
}

.line {
    background-color: #0f0;
    width: 0.3%;
    height: 118px;
    position: absolute;
    top: 7%;
    left: 26%;
    border-radius: 10%;
    box-shadow: 5px 9px 10px #070829;
}

.name {
    position: absolute;
    top: 9%;
    left: 27%;
    padding-left: 30px;
    color: #FFFF00;
    font-size: 28px;
    font-family: Bahnschrift,arial;
    line-height: 45px
}

.logo {
    width: 28%;
    margin-left: 60%;
}

.cards {
    display: inline-block;
    position: relative;
    border-radius: 2%;
    box-shadow: 4px 4px 18px #222222;
    background-color: #fff;
}

.back-2 {
    background-color: rgba(0, 0, 0, 0.51)
}

.back {
    background-attachment: fixed;
    background-size: cover;
    background-image: url('img//back.jpg');
    background-position-x: -140px;
    background-position-y: 60px
}

.left {
    margin-left: 5%;
    margin-top: -1%;
    padding: 0px 10px 50px;
    width: 20%;
    position: fixed;
    background-color: #99CC33;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-word;
    box-shadow: 10px 10px 18px #222222;
}

h1 {
    text-align: center;
    font-size: 24px;
    font-family: Amsterdam,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 14px 0 0;
    color: #000033
}

hr {
    margin: -15px 0 30px;
    border-color: #000
}

.accts {
    text-align: center;
    margin-bottom: 30px;
}

.icons {
    background-size: cover;
    display: inline-block;
    width: 26px;
    height: 26px;
    cursor: pointer;
    transition: all ease 0.5s;
    margin-right: 10px;
}

.facebook {
    background-image: url('img//app icons//facebook.png');
    background-color: #fff
}
.facebook:hover {
    box-shadow: 4px 5px 2px #587421;
}

.linkedin {
    background-image: url('img//app icons//linkedin.png');
    border-radius: 13%;
    background-color: #fff
}
.linkedin:hover {
    box-shadow: 4px 5px 2px #587421;
}

.github {
    background-image: url('img//app icons//github.png');
    border-radius: 100%;
    background-color: #fff
}
.github:hover {
    box-shadow: 4px 5px 2px #587421;
}

.gmail {
    padding-left: 8%;
}
.acct-g {
    top: 183px;
    left: 70px;
    position: absolute;
    font: bold 100% Arial;
    color: #000;
}

.wts {
    padding-left: 10%;
}
.acct-w {
    top: 233px;
    left: 80px;
    position: absolute;
    font: bold 100% Arial;
    color: #000
}

.right {
    margin-left: 32%;
    margin-bottom: 3%;
    padding: 0px;
    top:-20px;
    width: 63%;
    overflow: hidden;
}

.two{
    display:none
}

h2 {
    margin: 0;
    padding: 30px 0;
    font: 33px "Arial";
    text-align: center;
    color:#fff
}

.ccs {
    background-color:#222222;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
}

.summary {
    color: #000;
    font: 23px Open Sans,Helvetica,sans-serif;
    padding: 30px;
    line-height: 50px
}

.sum {
    display: block;
    color: #0202ff;
    font-weight: 800
}

.cert{
    text-align:center;
    padding:30px 0
}
.cert-img {
    width: 10%;
    transition:all 0.4s
}
.cert-img:hover {
    width: 15%
}

a{
    text-decoration:none
}

.link {
    text-align:center;
    font-weight: 500;
    display: block;
    margin-bottom:40px
}

.zm {
    background: #cb0500;
    padding: 10px 20px;
    border-radius: 20px;
    color: #fff;
    transition:all ease 0.5s;
}
.zm:hover {
    background: #8d110f;
    box-shadow: 10px 10px 7px #c3bdbd
}



@media only screen and (max-width : 1200px) {
    .right {
        margin-left: 15%;
        margin-bottom: 3%;
        width: 80%;
        top: -40px;
        overflow: hidden;
    }
    .left {
        border-radius:5px;
        margin-left: 5%;
        margin-top: -1%;
        padding-right: 2px;
        padding-left: 6px;
        height: 200px;
        width: 30px;
        position: fixed;
        background-color: #99CC33;
        box-shadow: 10px 10px 18px #222222;
    }
    h1 {
        display: none
    }
    .mk {
        position: relative;
        top: -20px;
        left: 10%;
        width: 10%;
        height: 1%;
        border-radius: 100%;
        box-shadow: 5px 9px 10px #070829;
    }

    .line {
        background-color: #0f0;
        width: 0.3%;
        height: 100px;
        position: absolute;
        top: 7%;
        left: 26%;
        border-radius: 10%;
        box-shadow: 5px 9px 10px #070829;
    }
    .name {
        position: absolute;
        top: 9%;
        left: 27%;
        padding-left: 30px;
        color: #FFFF00;
        font-size: 23px;
        font-family: Bahnschrift,arial;
        line-height: 45px
    }
    .wts {
        padding: 0;
        margin:0
    }
    .gmail {
        padding: 0;
        margin: 0
    }

    .icons {
        background-size: cover;
        display: block;
        width: 26px;
        height: 26px;
        cursor: pointer;
        transition: all ease 0.5s;
        margin-bottom: 10px;
    }
    .accts {
        text-align: center;
        margin-bottom: 0;
    }
    .summary {
        color: #000;
        font: 21px Open Sans,Helvetica,sans-serif;
        padding: 30px;
        line-height: 40px
    }
}

@media only screen and (max-width : 1000px) {
    h1 {
        display:none
    }
    .mk {
        position: relative;
        top: -10px;
        left: 10%;
        width: 10%;
        height: 1%;
        border-radius: 100%;
        box-shadow: 5px 9px 10px #070829;
    }
    .line {
        background-color: #0f0;
        width: 0.3%;
        height: 80px;
        position: absolute;
        top: 9%;
        left: 26%;
        border-radius: 10%;
        box-shadow: 5px 9px 10px #070829;
    }
    .name {
        position: absolute;
        top: 9%;
        left: 27%;
        padding-left: 30px;
        color: #FFFF00;
        font-size: 20px;
        font-family: Bahnschrift,arial;
        line-height: 45px
    }
}
