* {
    transition:all ease 0.3s;
}
body {
    margin: 0;
    padding: 0;
    Background: url('img//back.jpg') repeat fixed center;
    background-size: cover;   
}

.acct1 {
    display:none;
}

header {
    position: relative;
    padding: 40px 0 60px;
    background-image: linear-gradient(to right, #1B1464, #662D91);
}

.mk {
    position:absolute;
    top:55px;
    left:140px;
    width: 9%;
    border-radius: 100%;
    box-shadow: 5px 9px 10px #070829;
}

.line {
    position: absolute;
    top: 24%;
    left: 26%;
    width: 3px;
    height: 118px;
    border-radius: 10%;
    background-color: #0f0;
    box-shadow: 5px 9px 10px #070829;
}

.name {
    position: absolute;
    top: 27%;
    left: 26%;
    padding-left: 30px;
    color: #FFFF00;
    font-size: 28px;
    font-family: Bahnschrift,arial;
    line-height: 45px
}

.logo {
    width: 25%;
    margin-left: 72%;
}

.cards {
    position: relative;
    display: inline-block;
    box-shadow: 4px 4px 18px #222222;
}

.back-2 {
    background-color: rgba(0, 0, 0, 0.51)
}

.right {
    top: -20px;
    margin: 0 3% 3% 32%;
    background: #fff;
    width: 65%
}

.left {
    position: fixed;
    margin-top: -1%;
    margin-left: 3%;
    padding: 10px;
    padding-bottom: 30px;
    background-color: #99CC33;
    border-radius: 13px;
    overflow: hidden;
    box-shadow: 10px 10px 18px #222222;
    transition:all ease 0.2s;
}

.two {
    display: none
}

h1 {
    margin: 14px 0 0;
    text-align: center;
    font: 24px Amsterdam,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000033
}

hr {
    margin: -15px 0 30px;
    background-color: #000;
    border-color: #000
}

.accts {
    text-align: center;
    margin-bottom: 30px;
}

.icons {
    margin-right: 10px;
    display: inline-block;
    width: 26px;
    height: 26px;
    background-size: cover;
    cursor: pointer;
    transition: all ease 0.5s;
}

.facebook {
    background-image: url('img//app icons//facebook.png');
    background-color: #fff;
    border-radius: 2px;
}
.linkedin {
    background-image: url('img//app icons//linkedin.png');
    background-color: #fff;
    border-radius: 3px;
}
.github {
    background-image: url('img//app icons//github.png');
    border-radius:100%;
}
.facebook:hover,.linkedin:hover,.github:hover {
    box-shadow: 4px 5px 2px #587421;
}

.others {
    position: relative;
    margin: 30px 20px 30px 20px;
    text-align: left;
    cursor:auto;
}

.gmail, .wts {
    cursor: auto;
}

.acct-g, .acct-w {
    position: relative;
    font: bold 17px Arial;
    color: #000;
}
.acct-g {
    top: -6px;
}
.acct-w {
    top: -4px;
}

h2 {
    margin: 0;
    padding: 30px 0;
    font: 33px "Arial";
    text-align: center;
    color:#fff
}

.ccs {
    background-color:#222222;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
}

.summary {
    color: #000;
    font: 23px Open Sans,Helvetica,sans-serif;
    padding: 30px ;
    line-height: 50px
}

.sum {
    display: block;
    color: #0202ff;
    font-weight: 800
}

.cert{
    text-align:center;
    padding:30px 0
}
.cert-img {
    width: 10%;
    transition:all 0.4s
}
.cert-img:hover {
    width: 15%
}

a{
    text-decoration:none
}

.link {
    text-align:center;
    font-weight: 500;
    display: block;
    margin-bottom:10px
}

.zm {
    background: #ff0053;
    padding: 10px 40px;
    text-align: center;
    font-family: Calibri;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 10px;
    border: 3px outset #ff0053;
    transition: all ease 0.5s;
}
.zm:hover {
    background: #e30048;
    border: 3px outset #e30048;
    box-shadow: 3px 3px 10px #c3bdbd
}

.content {
    display: none;
}

.back-menue{
    display:none;
    background-color:rgba(0, 0, 0, 0.80);
    z-index:4;
    position:fixed;
    width:100%;
    height:100%;
}

