@media only screen and (max-width : 900px) {
    .content {
        display: block;
        padding: 10px 0 10px 10px;
        background-color: #663399;
    }

    .nav-icon {
        display: inline
    }
    .logo-2 {
        text-align: center;
        display: inline;
        padding: 0px 0% 0px 70%;
        width: 130px;
        transition: all ease 0.3s;
    }
    .icon-img {
        text-align: center;
        display: inline;
        padding: 8px 10px 10px;
        width: 5%;
        border-radius: 5px;
        background-color: #000;
        transition: all ease 0.6s
    }
    .icon-img:hover {
        border-radius: 5px;
        background-color: #333333;
    }
    .links-nav {
        display: none;
        position:absolute;
        top:10px;
        left:10px;
        background-color: #000;
        padding:10px 8px 8px 10px
    }
    
    
    header {
        box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.40) inset;
        background-image: none;
        background-color: #333333;
        padding: 0px 0 100px;
        margin: 0;
        padding-top: 5%;
        text-align: center;
    }

    .mk {
        text-align: center;
        position: static;
        width: 130px;
        border-radius: 100%;
        box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.73);
        display: inline-block;
    } 

    .line {
        display:none;
    }

    .logo {
        display:none
    }

    .name {
        text-align: center;
        display: block;
        position: static;
        padding-left: 0px;
        color: #FFFF00;
        font-size: 20px;
        font-family: Bahnschrift,arial;
        line-height: normal;
        margin-left: 0%;
        margin-top: 20px;
    }

    .left {
        display: none;
        position: fixed;
        left: 10px;
        top: 19px;
        height: 150px;
        padding: 10px 10px 0px;
        width: 250PX;
        margin-left: 20px;
        background-color: #8e99ff;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        word-break: break-word;
        box-shadow: 10px 10px 18px #222222;
        margin-left: 0;
        z-index: 2;
        transition: 0.5s;
    }
    hr{
        display:none
    }
    .accts {
        position: absolute;
        top: 16px;
        text-align: center;
        margin: 0 0 0 30px;
        display: inline;
    }

.icons {
    background-size: cover;
    display: inline-block;
    width: 26px;
    height: 26px;
    cursor: pointer;
    transition: all ease 0.5s;
    margin-right: 10px;
}

.facebook {
    background-image: url('img//app icons//facebook.png');
    background-color: #fff
}

    .facebook:hover {
        box-shadow: 4px 5px 2px rgba(14, 46, 81, 0.68);
    }

.linkedin {
    background-image: url('img//app icons//linkedin.png');
    border-radius: 13%;
    background-color: #fff
}

    .linkedin:hover {
        box-shadow: 4px 5px 2px rgba(14, 46, 81, 0.68);
    }

.github {
    background-image: url('img//app icons//github.png');
    border-radius: 100%;
    background-color: #fff
}

    .github:hover {
        box-shadow: 4px 5px 2px rgba(14, 46, 81, 0.68);
    }
/*.............................................................3 line..............................................................*/
    .gmail {
        padding-left: 5%;
        margin-top: 10px;
    }

.acct-g {
    top: 68px;
    left: 65px;
    position: absolute;
    font: bold 100% Arial;
    color: #000;
    display:block
}
/*.............................................................4 line..............................................................*/
.wts {
    padding-left: 5%;
    padding-top: 0;
}

    .acct-w {
        top: 117px;
        left: 68px;
        position: absolute;
        font: bold 100% Arial;
        color: #000;
        display: block
    }

    .right {
        margin-left: 5%;
        margin-bottom: 3%;
        width: 90%;
        top: -40px;
        z-index: 1;
        font: italic bold 16px / 1px Arial
    }
    .two {
        display:inline;
        width:30px;
        background-color:transparent
    }
    .two:hover {
        background-color: rgba(14, 46, 81, 0.68)
    }
    .summary {
        color: #000;
        font: 18px Open Sans,Helvetica,sans-serif;
        padding: 30px;
        line-height: 35px
    }
}

@media only screen and (max-width : 700px) {
    .logo-2 {
        text-align: center;
        display: inline;
        padding: 0px 0% 0px 70%;
        width: 100px;
        transition: all ease 0.3s;
    }
}
@media only screen and (max-width : 580px) {
    .logo-2 {
        text-align: center;
        display: inline;
        padding: 0px 0% 0px 60%;
        width: 100px;
        transition: all ease 0.3s;
    }
}

