@media only screen and (max-width : 1200px) {
    hr{
        display:none
    }
    .line {
        top: 23%;
        left: 26%;
        height: 107px;
        transition: all ease 0.5s;
    }

    .name {
        font-size: 20px;
        line-height: 43px
    }

    .right {
        margin-left: 15%;
        width: 80%;
    }

    .left {
        border-radius: 5px;
        margin-left: 5%;
        margin-top: -1%;
        width: 30px;
        overflow:visible;
        padding: 6px 2px 0 6px;
        z-index:2
    }

    h1 {
        display: none
    }

    .gmail, .wts {
        cursor: pointer;
    }

    .acct-g, .acct-w {
        display:none;
        position: absolute;
        top: 3px;
        left: 32px;
        background-color: #99CC33;
        padding:2px 8px 2px 3px;
        border-radius:0 4px 4px 0 
    }

    .acct-w{
        top: 43px;
    }
    
    .others {
        margin: 0;
        text-align: left;
        display: block;
    }

    .break {
        display: none
    }

    .icons, .other {
        margin-bottom: 10px;  
    }

    .accts {
        margin-bottom: 0;
        padding:0
    }

    .summary {
        font-size: 21px;
        padding: 25px;
        line-height: 40px
    }
}

@media only screen and (max-width : 940px) {

    .line {
        top: 27%;
        left: 22%;
        height: 85px;
    }

    .name {
        left: 24%;
        font-size: 23px;
        line-height: 40px
    }

    .mk {
        position: absolute;
        top: 52px;
        left: 50px;
        width: 12%;
    }

    header {
        padding-bottom: 80px
    }

    h2 {
        padding: 20px 0;
        font: 28px "Arial";
    }
    .summary {
        font-size: 18px;
        padding: 25px;
        line-height: 40px
    }
    .star {
        width: 35px;
        height: 35px;
    }
}
